<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Actualizar Marca - Doble L</title>
    <link rel="stylesheet" href="../../public/css/estiloAdmin.css">
</head>

<body>

    <header class="header-admin">
        <div class="contenedor-header">
            <a href="menuAdministrador.html">
                <img src="https://comercializadorall.grupoctic.com/ComercializadoraLL/img/whitelogo.png" alt="Logo"
                    class="logo">
            </a>

            <nav class="nav-admin">
                <a href="menuAdministrador.html">Productos</a>
                <a href="ventas.html">Ventas</a>
                <a href="compra.html">Compras</a>
                <a href="categorias.html">Categorías</a>
                <a href="marcas.html" class="active">Marcas</a>
                <a href="proveedores.html">Proveedores</a>
                <a href="listaSucursales.html">Sucursales</a>
                <a href="informacionEmpresa.html">Información</a>
                <a href="clientes.html">Clientes</a>
                <a href="preguntasFrecuentes.html">FAQ</a>
                <a href="contactoLista.html">Contacto</a>
                <a href="usuarios.html">Usuarios</a>
            </nav>

            <div class="user-menu">
                <img src="https://comercializadorall.grupoctic.com/ComercializadoraLL/img/profileicon.jpg" alt="Perfil"
                    class="profileicon">
                <div class="menu" id="menu-usuario-admin">
                </div>
            </div>
        </div>
    </header>

    <form class="panelP-formularioProductos" id="form-marca">
        <h2>Actualizar marca</h2>

        <input type="hidden" id="intid_Marca" name="intid_Marca">

        <label for="vchNombre">Nombre de marca:</label>
        <input type="text" id="vchNombre" name="vchNombre" pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+$" required>

        <div class="botones">
            <button type="submit" class="guardar">Actualizar</button>
            <button type="button" class="cancelar" onclick="window.location.href='marcas.html'">Cancelar</button>
        </div>
    </form>

    <footer>
        <div class="linksFooter">
            <a>© 2026 Comercializadora Doble L — Sistema de Ventas</a>
        </div>
    </footer>
    <script src="../../public/js/authAdmin.js"></script>
    <script src="../../public/js/adminMarcaForm.js"></script>
</body>

</html>