<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil - Doble L</title>
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/perfil.css">
</head>

<body>
    <header>
        <div class="contenedor-header">
            <a href="../index.html"><img
                    src="https://comercializadorall.grupoctic.com/ComercializadoraLL/img/whitelogo.png" alt="Logo"
                    class="logo"></a>
            <nav>
                <a href="../index.html" class="nav-link">Inicio</a>
                <a href="celulares.html?id=1" class="nav-link">Celulares</a>
                <a href="Accesorios.html?id=8" class="nav-link">Accesorios</a>
                <a href="Electrodomesticos.html?id=2" class="nav-link">Laptops</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="perfil-card">
            <div class="perfil-header">
                <div class="avatar-circle">
                    <span id="avatar-inicial">U</span>
                </div>
                <h2 id="menu-user-name">Cargando...</h2>
                <p class="rol-badge">Cliente Verificado</p>
            </div>

            <div class="perfil-body">
                <div class="info-group">
                    <label>Nombre Completo</label>
                    <div class="info-value" id="info-full-name">---</div>
                </div>
                <div class="info-group">
                    <label>Correo Electrónico</label>
                    <div class="info-value" id="info-correo">---</div>
                </div>
                <div class="info-group">
                    <label>Teléfono</label>
                    <div class="info-value" id="info-tel">No registrado</div>
                </div>
            </div>

            <div class="perfil-footer">
                <button class="btn-editar" onclick="abrirModal()">Editar Perfil</button>
                <button id="btn-logout-perfil" class="btn-logout-simple">Cerrar Sesión</button>
            </div>
        </div>
    </main>
    <footer>
        <div class="linksFooter">
            <a href="AcercaDe.html">
                <h3>Acerca de</h3>
            </a>
            <a href="quienessomos.html">
                <h3>¿Quiénes somos?</h3>
            </a>
            <a href="contactoPublico.html">
                <h3>Contacto</h3>
            </a>
            <a href="ubicacion.html">
                <h3>Ubicación</h3>
            </a>
            <a href="politicaCompra.html">
                <h3>Políticas</h3>
            </a>
            <a href="preguntasFrecuentesPublic.html">
                <h3>Preguntas Frecuentes</h3>
            </a>
        </div>
    </footer>
    <script src="../../public/js/perfil.js"></script>
</body>

</html>