<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Políticas - FlashCode</title>
  <link rel="stylesheet" href="../../public/css/home.css">
</head>

<body>

<header>
    <div class="contenedor-header">
        <a href="index.html">
            <img src="https://comercializadorall.grupoctic.com/ComercializadoraLL/img/whitelogo.png" alt="Logo" class="logo">
        </a>

        <nav>
            <a href="index.html" class="nav-link">Inicio</a>
            <a href="celulares.html" class="nav-link">Celulares</a>
            <a href="Accesorios.html" class="nav-link">Accesorios</a>
            <a href="Electrodomesticos.html" class="nav-link">Electrodomésticos</a>
        </nav>

         <div class="user-menu">
            <img src="https://comercializadorall.grupoctic.com/ComercializadoraLL/img/profileicon.jpg" alt="Perfil" class="profileicon">

           <div class="menu">
                <a href="perfil.html">Mi cuenta</a>
                <a href="../admin/menuAdministrador.html">Panel de Administración</a>
                <a href="cerrar_sesion.html">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</header>

<main class="acerca-container">
    <h1>Políticas de la Empresa</h1>

    <h2>Política de Garantía</h2>
    <p>Todos nuestros productos cuentan con una garantía limitada de 6 meses contra defectos de fábrica. Para hacerla válida, es indispensable presentar el ticket de compra original y el producto en su empaque original.</p>

    <h2>Política de Devoluciones</h2>
    <p>Se aceptan devoluciones dentro de los primeros 7 días naturales posteriores a la compra, siempre y cuando el sello de seguridad no haya sido violado y el equipo no presente señales de uso o configuración.</p>

    <h2>Política de Privacidad</h2>
    <p>En Comercializadora Doble L, protegemos tus datos personales. La información proporcionada durante el registro solo se utiliza para procesar tus pedidos y mejorar tu experiencia de usuario.</p>
</main>

<footer>
  <div class="linksFooter">
    <a href="AcercaDe.html"><h3>Acerca de</h3></a>
    <a href="quienessomos.html"><h3>¿Quiénes somos?</h3></a>
    <a href="contactoPublico.html"><h3>Contacto</h3></a>
    <a href="ubicacion.html"><h3>Ubicación</h3></a>
    <a href="politicaCompra.html"><h3>Políticas</h3></a>
    <a href="preguntasFrecuentesPublic.html"><h3>Preguntas Frecuentes</h3></a>
  </div>
</footer>
</body>
</html>