<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Quiénes somos? - FlashCode</title>
    <link rel="stylesheet" href="../../public/css/home.css">
</head>

<body>
    <header>
        <div class="contenedor-header">
            <a href="../index.html"><img
                    src="https://comercializadorall.grupoctic.com/ComercializadoraLL/img/whitelogo.png" alt="Logo"
                    class="logo"></a>
            <nav>
                <a href="../index.html" class="nav-link">Inicio</a>
                <a href="celulares.html" class="nav-link">Celulares</a>
                <a href="Accesorios.html" class="nav-link">Accesorios</a>
                <a href="Electrodomesticos.html" class="nav-link">Electrodomésticos</a>
            </nav>
            <div class="user-menu">
                <img src="https://comercializadorall.grupoctic.com/ComercializadoraLL/img/profileicon.jpg" alt="Perfil"
                    class="profileicon">
                <div class="menu" id="menu-usuario">
                    <a href="perfil.html" id="link-perfil">Mi cuenta</a>
                    <a href="../login.html" id="link-login">Iniciar Sesión</a>
                    <a href="#" id="link-logout" style="display: none;">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </header>

    <main class="acerca-container" id="contenedor-nosotros">
        <h1 id="titulo-pagina">Cargando información...</h1>
    </main>

    <footer>
        <div class="linksFooter">
            <a href="AcercaDe.html">
                <h3>Acerca de</h3>
            </a>
            <a href="quienessomos.html" class="activo">
                <h3>¿Quiénes somos?</h3>
            </a>
            <a href="contactoPublico.html">
                <h3>Contacto</h3>
            </a>
            <a href="ubicacion.html">
                <h3>Ubicación</h3>
            </a>
            <a href="politicaCompra.html">
                <h3>Políticas</h3>
            </a>
            <a href="preguntasFrecuentesPublic.html">
                <h3>Preguntas Frecuentes</h3>
            </a>
        </div>
    </footer>

    <script src="../../public/js/estaticas.js"></script>
    <script src="../../public/js/quienesSomos.js"></script>
    <script src="../../public/js/home.js"></script>
</body>

</html>